
{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/password_change.css' %}">
{% endblock %}


{% block title %}
Change Password | Smart Car Rental
{% endblock %}


{% block content %}



<div class="password-page">



    <!-- HEADER -->


    <div class="password-header">


        <div class="password-icon">

            <i class="fa-solid fa-lock"></i>

        </div>


        <h1>
            Change Password
        </h1>


        <p>
            Keep your Smart Car Rental account secure by updating your password.
        </p>


    </div>







    <!-- PASSWORD CARD -->


    <div class="password-card">



        <div class="card-title">


            <i class="fa-solid fa-shield-halved"></i>


            <h2>
                Update Security
            </h2>


        </div>






        <form method="POST">


            {% csrf_token %}



            <div class="password-form">


                {{ form.as_p }}


            </div>







            <button type="submit"
                    class="save-btn">


                <i class="fa-solid fa-check"></i>


                Update Password


            </button>



        </form>



    </div>







    <!-- SECURITY INFO -->


    <div class="password-info">


        <h3>

            <i class="fa-solid fa-circle-info"></i>

            Password Tips

        </h3>



        <ul>


            <li>
                Use at least 8 characters.
            </li>


            <li>
                Avoid using common passwords.
            </li>


            <li>
                Use a combination of letters and numbers.
            </li>


        </ul>


    </div>




</div>



{% endblock %}
