{% extends "core/base.html" %}


{% block title %}
Payment Management
{% endblock %}



{% block content %}


<h1>
💰 Payment Management
</h1>


<table border="1">


<tr>

<th>
Customer
</th>

<th>
Car
</th>

<th>
Total Price
</th>

<th>
Payment Status
</th>

<th>
Method
</th>

<th>
Reference
</th>

</tr>



{% for booking in bookings %}


<tr>


<td>

{{ booking.first_name }}
{{ booking.last_name }}

</td>



<td>

{{ booking.car.name }}

</td>



<td>

${{ booking.total_price }}

</td>



<td>

{{ booking.payment_status }}

</td>



<td>

{{ booking.payment_method|default:"-" }}

</td>



<td>

{{ booking.payment_reference|default:"-" }}

</td>


</tr>



{% empty %}


<tr>

<td colspan="6">

No payments found.

</td>

</tr>


{% endfor %}


</table>


{% endblock %}